{% extends "layout.html" %}
{% block title %}
    PikkujouluVekotin
{% endblock %}

{% block extrahead %}
    <style>
        div.led {
            border: 1px solid #ccc;
            float: left;
            width: 20ex;
            margin: 5px;
            padding: 3px;
        }
    </style>

    <script type="text/javascript" charset="utf-8">

    </script>
{% endblock %}

{% block body %}
    <h2>{{ self.title() }}</h2>
    <div id="msg"></div>
    <div style="clear: both"></div>

    <!-- Just experimenting -->
    <button>SEND STATIC MESSAGE</button>

    <script type="text/javascript">

        $("#msg").on("click", '.led', function () {
            var dev = $(this).attr('id');
            console.log("LED clicked, id: " + dev);
            socket.emit('ledclick', {data: 'LED clicked!', dev: dev});
        });

        $("button").on("click", function () {
            socket.emit('buttonclick', {data: 'Button pressed!'});
        });

    </script>

{% endblock %}
