version: "3.8"

services:
  v1:
    env_file:
      - .env.dev
    extends:
      file: common.yml
      service: endpoint
    environment:
      #      SENTRY_DSN: https://pubjet@sentry.example.com/11
      ENDPOINT_PATH: /v1
      MAX_CONTENT_LENGTH: 1024
      DEV_SERVER: 1
    command: uvicorn --reload --host 0.0.0.0 app:app
    expose:
      - 8000
    ports:
      - 8000:8000
    container_name: weatherlamp_server_v1

  v1-prod:
    env_file:
      - .env.prod
    extends:
      file: common.yml
      service: endpoint
    environment:
      ENDPOINT_PATH: /v1
      MAX_CONTENT_LENGTH: 1024
    command: uvicorn --host 0.0.0.0 app:app
    expose:
      - 8000
    ports:
      - 8000:8000
    container_name: weatherlamp_server_v1_prod

  v2:
    env_file:
      - .env.dev
    extends:
      file: common.yml
      service: endpoint
    environment:
      #      SENTRY_DSN: https://pubjet@sentry.example.com/11
      ENDPOINT_PATH: /v2
      MAX_CONTENT_LENGTH: 1024
      DEV_SERVER: 1
    command: uvicorn --reload --host 0.0.0.0 app_v2:app
    expose:
      - 8000
    ports:
      - 8000:8000
    container_name: weatherlamp_server_v2
